* {
  font-family: 'Ubuntu', sans-serif; }

body {
  margin: 0 auto;
  width: 1400px; }

.container {
  width: 1150px;
  margin: 0 auto; }

.header {
  background-image: url(../img/bg_photo.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .header .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px; }
    .header .header__menu .header__menu--container {
      width: 35%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header .header__menu .header__menu--container .header__menu--logo {
        width: 35%; }
      .header .header__menu .header__menu--container .header__menu--logo img {
        width: 100%; }
      .header .header__menu .header__menu--container .header__menu--line {
        display: flex;
        height: 50px;
        width: 1px;
        background-color: #0facbb; }
      .header .header__menu .header__menu--container .header__menu--info {
        color: #fff;
        font-size: 13px;
        font-weight: 300px; }
        .header .header__menu .header__menu--container .header__menu--info .color {
          color: #0facbb; }
    .header .header__menu .header__menu--nav {
      width: 45%; }
      .header .header__menu .header__menu--nav ul {
        display: flex;
        justify-content: space-between; }
      .header .header__menu .header__menu--nav ul li {
        list-style: none; }
      .header .header__menu .header__menu--nav ul li a {
        font-size: 12px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase; }
      .header .header__menu .header__menu--nav .btn-registration {
        color: #393E6B;
        background-color: #fff;
        padding: 15px 20px;
        border-radius: 30px; }
        .header .header__menu .header__menu--nav .btn-registration:hover {
          background-color: #ededed; }
  .header .header__info {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 155px; }
    .header .header__info .header__info--title {
      width: 40%;
      color: #fff;
      font-size: 34px;
      font-weight: 300;
      line-height: 1.2;
      margin-bottom: 70px; }
    .header .header__info .btn__request {
      color: #fff;
      font-size: 16px;
      background-color: #0facbb;
      padding: 20px 30px;
      border: 1px solid #0facbb;
      border-radius: 30px;
      cursor: pointer;
      margin-bottom: 170px; }
      .header .header__info .btn__request:hover {
        background-color: #0d9aa8;
        border-color: #0d9aa8; }
  .header .cover {
    position: absolute;
    right: -5px;
    bottom: 105px; }

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .description .description__title {
    width: 48%;
    color: #393E6B;
    font-size: 34px;
    font-weight: 300;
    text-align: center;
    line-height: 1.2;
    margin-top: 80px; }
  .description .description__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px; }
    .description .description__wrap .description__item {
      position: relative;
      width: 25%;
      display: flex;
      justify-content: center;
      margin-bottom: 70px; }
      .description .description__wrap .description__item .description__item--number {
        position: absolute;
        left: 15px;
        top: -11px;
        color: #0facbb;
        font-size: 48px;
        font-weight: 600;
        opacity: 0.2; }
      .description .description__wrap .description__item .description__item--info {
        width: 60%;
        color: #393E6B;
        font-size: 14px;
        line-height: 1.5; }

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5fa; }
  .clients .clients__title {
    color: #b3b5c8;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 80px; }
  .clients .clients__wrap {
    display: flex;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 75px; }
    .clients .clients__wrap .nav__left {
      display: flex;
      height: 12px;
      width: 12px;
      transform: rotate(45deg);
      border-left: 2px solid #b3b5c8;
      border-bottom: 2px solid #b3b5c8; }
    .clients .clients__wrap .nav__right {
      display: flex;
      height: 12px;
      width: 12px;
      transform: rotate(45deg);
      border-right: 2px solid #b3b5c8;
      border-top: 2px solid #b3b5c8; }
    .clients .clients__wrap .clients__item {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      margin: 0 auto; }
    .clients .clients__wrap .clients__item img {
      width: 15%; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #21a2a7; }
  .footer .footer__title {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px; }
  .footer .footer__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 45px;
    width: 490px; }
    .footer .footer__form .footer__form--input {
      width: 175px;
      color: #393E6B;
      font-size: 14px;
      border: 1px solid #fff;
      border-radius: 30px;
      padding: 15px 25px;
      margin-bottom: 20px; }
    .footer .footer__form .footer__form--input:nth-child(5) {
      width: 100%; }
    .footer .footer__form .footer__form--info {
      width: 75%;
      display: flex;
      align-items: baseline;
      margin: 0 auto;
      margin-bottom: 35px; }
      .footer .footer__form .footer__form--info p {
        color: #fff;
        font-size: 12px;
        line-height: 1.5; }
        .footer .footer__form .footer__form--info p a {
          color: #27c1cc;
          text-decoration: none; }
    .footer .footer__form .btn__footer {
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      background-color: #393E6B;
      border: 1px solid #393E6B;
      border-radius: 30px;
      margin: 0 auto;
      padding: 15px 45px;
      cursor: pointer; }
      .footer .footer__form .btn__footer:hover {
        background-color: #333860; }
  .footer .footer__copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #242637; }
    .footer .footer__copyright span {
      color: #7b7fa8;
      font-size: 14px;
      margin-top: 20px;
      line-height: 1.5; }
    .footer .footer__copyright a {
      color: #27c1cc;
      text-decoration: none;
      margin-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
