// common
* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0 auto;
  width: 1400px;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

$mainColor: #0facbb;
$secondColor: #fff;
$thirdColor: #393E6B;

// header

.header {
  background-image: url(../img/bg_photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    .header__menu--container {
      width: 35%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header__menu--logo {
        width: 35%;
      }
      .header__menu--logo img {
        width: 100%;
      }
      .header__menu--line {
        display: flex;
        height: 50px;
        width: 1px;
        background-color: $mainColor;
      }
      .header__menu--info {
        color: #fff;
        font-size: 13px;
        font-weight: 300px;
        .color {
          color: $mainColor;
        }
      }
    }
    .header__menu--nav {
      width: 45%;
      ul {
        display: flex;
        justify-content: space-between;
      }
      ul li {
        list-style: none;
      }
      ul li a {
        font-size: 12px;
        color: $secondColor;
        text-decoration: none;
        text-transform: uppercase;
      }
      .btn-registration {
        color: $thirdColor;
        background-color: $secondColor;
        padding: 15px 20px;
        border-radius: 30px;
        &:hover {
          background-color: #ededed;
        }
      }
    }
  }
  .header__info {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 155px;
    .header__info--title {
      width: 40%;
      color: $secondColor;
      font-size: 34px;
      font-weight: 300;
      line-height: 1.2;
      margin-bottom: 70px;
    }
    .btn__request {
      color: $secondColor;
      font-size: 16px;
      background-color: $mainColor;
      padding: 20px 30px;
      border: 1px solid $mainColor;
      border-radius: 30px;
      cursor: pointer;
      margin-bottom: 170px;
      &:hover {
        background-color: #0d9aa8;
        border-color: #0d9aa8;
      }
    }
  }
  .cover {
    position: absolute;
    right: -5px;
    bottom: 105px;
  }
}

// description

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .description__title {
    width: 48%;
    color: $thirdColor;
    font-size: 34px;
    font-weight: 300;
    text-align: center;
    line-height: 1.2;
    margin-top: 80px;
  }
  .description__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
    .description__item {
      position: relative;
      width: 25%;
      display: flex;
      justify-content: center;
      margin-bottom: 70px;
      .description__item--number {
        position: absolute;
        left: 15px;
        top: -11px;
        color: $mainColor;
        font-size: 48px;
        font-weight: 600;
        opacity: 0.2;
      }
      .description__item--info {
        width: 60%;
        color: $thirdColor;
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
}

// clients

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  background-color: #f5f5fa;
  .clients__title {
    color: #b3b5c8;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 80px;
  }
  .clients__wrap {
    display: flex;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 75px;
    .nav__left {
      display: flex;
      height: 12px;
      width: 12px;
      transform: rotate(45deg);
      border-left: 2px solid #b3b5c8;
      border-bottom: 2px solid #b3b5c8;
    }
    .nav__right {
      display: flex;
      height: 12px;
      width: 12px;
      transform: rotate(45deg);
      border-right: 2px solid #b3b5c8;
      border-top: 2px solid #b3b5c8;
    }
    .clients__item {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      margin: 0 auto;
    }
    .clients__item img {
      width: 15%;
    }
  }
}

// footer

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #21a2a7;
  .footer__title {
    color: $secondColor;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
  }
  .footer__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 45px;
    width: 490px;
    .footer__form--input {
      width: 175px;
      color: $thirdColor;
      font-size: 14px;
      border: 1px solid $secondColor;
      border-radius: 30px;
      padding: 15px 25px;
      margin-bottom: 20px;
    }
    .footer__form--input:nth-child(5) {
      width: 100%;
    }
    .footer__form--info {
      width: 75%;
      display: flex;
      align-items: baseline;
      margin: 0 auto;
      margin-bottom: 35px;
      p {
        color: $secondColor;
        font-size: 12px;
        line-height: 1.5;
        a {
          color: #27c1cc;
          text-decoration: none;
        }
      }
    }
    .btn__footer {
      color: $secondColor;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      background-color: $thirdColor;
      border: 1px solid $thirdColor;
      border-radius: 30px;
      margin: 0 auto;
      padding: 15px 45px;
      cursor: pointer;
      &:hover {
        background-color: #333860;
      }
    }
  }
  .footer__copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #242637;
    span {
      color: #7b7fa8;
      font-size: 14px;
      margin-top: 20px;
      line-height: 1.5;
    }
    a {
      color: #27c1cc;
      text-decoration: none;
      margin-bottom: 20px;
    }
  }
}